@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="app">

    <table class="table table-striped table-bordered">
        <tr>
            <th>File Id</th>
            <th>File Name</th>
            <th>Direct Link</th>
        </tr>


        <tr v-for="(item, index) in datas" :key="item.fileId">
            <td>{{item.fileId}}</td>
            <td>{{item.fileName}}</td>
            <td>
                <a :href="'/home/getlink/' + item.fileId"
                   class="btn btn-primary btn-sm">
                    İndir
                </a>
                <a class="btn btn-sm btn-danger" :href="'/home/delete/' + item.fileId" @@click.prevent="deleteFile(item.fileId, index)">Sil</a>

            </td>
        </tr>

    </table>

    @*  <p>
        Kullanılan Alan: <b>@Model.UsedSpace</b>
        </p>

        <p>
        Kalan Alanı: <b>@Model.RemainingSpace</b>
        </p>*@

</div>

@section Scripts {

<environment names="Staging,Production">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>
</environment>

<environment names="Development">
    <script src="https://unpkg.com/vue@next"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.js"> </script>
</environment>


<script type="text/javascript">


    const app = {

       data(){
           return {

               datas: [

                   {fileId: "ReHf91Cax3", fileName: "Docker.pdf", },
                   {fileId: "Bcj2CcC5x2", fileName: "Docker.pdf", },
                   {fileId: "V1jaC9Cfx7", fileName: "Docker.pdf", }
               ]
           }
       },

        mounted(){
             this.GetFiles();

        },

        methods: {

            deleteFile(fileId, index){
               console.log(index);

                axios({
                    method: "get",
                    url: "/Home/Delete/"+fileId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                }).then(function (response) {
                   console.log(response);
                   if(response.data.isSuccessful) {

                    this.datas.splice(index, 1)
                    console.log(this.datas);
                   } else{
                        this.datas.splice(index, 1)
                    console.log(this.datas);
                   }

                });

            },

              GetFiles()  {

                axios({
                    method: "get",
                    url: "/Home/MyFiles",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                }).then(function (response) {
                    this.datas = response.data.data.dataModel;

                });
            },


        },


    }

    Vue.createApp(app).mount('#app');




</script>

}


